/*  import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background: rgb(224, 224, 224);
}
nav{
    position: sticky;
    top: 0;
    bottom: 0;
    height: 100vh;
    left: 0;
    width: 90px;
    /* width: 280px; */
    background: #fff;
    overflow: hidden;
    transition: 1s;
}
nav:hover{
    width: 280px;
    transition: 1s;
}
.logo{
    text-align: center;
    display: flex;
    margin: 10px 0 0 10px;
    padding-bottom: 3rem;
}

.logo img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.logo span{
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
    text-transform: uppercase;
}
a{
    position: relative;
    width: 280px;
    font-size: 14px;
    color: rgb(85, 83, 83);
    display: table;
    padding: 10px;
}
nav .fas{
    position: relative;
    width: 70px;
    height: 40px;
    top: 20px;
    font-size: 20px;
    text-align: center;
}
.nav-item{
    position: relative;
    top: 12px;
    margin-left: 10px;
}
a:hover{
    background: #eee;
}
a:hover i{
    color: #ff8307;
    transition: 0.5s;
}
.logout{
    position: absolute;
    bottom: 0;
}

.container{
    display: flex;
}

/* MAin Section */
.main{
    position: relative;
    padding: 20px;
    width: 100%;
}
.main-top{
    display: flex;
    width: 100%;
}
.main-top i{
    position: absolute;
    right: 0;
    margin: 10px 30px;
    color: rgb(110, 109, 109);
    cursor: pointer;
}
.main .users{
    display: flex;
    width: 100%;
}
.users .card{
    width: 50%;
    margin: 10px;
    background: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.users .card img{
    width: 70px;
    height: 70px;
}
.users .card h4{
    text-transform: uppercase;
}
.users .card p{
    font-size: 12px;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.users table{
    margin:  auto;
}
.users .per span{
    padding: 5px;
    border-radius: 10px;
    background: rgb(223, 223, 223);
}


.users td{
    font-size: 14px;
    padding-right: 15px;
}
.users .card button, .users .card a{
    width: 100%;
    display: block;
    padding: 7px;
    cursor: pointer;
    border-radius: 10px;
    background: transparent;
    border: 1px solid #ff7808;
}
.users .card button:hover, .users .card a:hover{
    background: #ff7808;
    color: #fff;
    transition: 0.5s;
}
/*Attendance List serction  */
.attendance{
    margin-top: 20px;
    text-transform: capitalize;
}
.attendance-list{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 15px;
    min-width: 100%;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
}
table thead tr{
    color: #fff;
    background: #ff7808;
    text-align: left;
    font-weight: bold;
}
.table th,
.table td{
    padding: 12px 15px;
}
.table tbody tr{
    border-bottom: 1px solid #ddd;
}
.table tbody tr:nth-of-type(odd){
    background: #f3f3f3;
}
.table tbody tr.active{
    font-weight: bold;
    color: #ff7808;
}
.table tbody tr:last-of-type{
    border-bottom: 2px solid rgb(255, 116, 0);
}
.table button {
    padding: 6px 20px;
    border-radius: 10px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #ff7808;
}

.table button:hover{
    background: #ff7808;
    color: #fff;
    transition: 0.5s;
}

.alert {
    padding: 12px 32px;
    position: fixed;
    display: flex;
    align-items: center;
    column-gap: 16px;
    top: 5%;
    left: 50%;
    border: 1px solid silver;
    border-radius: 10px;
    transform: translate(-50%, -50%);
}

.alert-success {
    background: #5cb85c;
}

.alert-danger {
    background: #f8d7da;
}

.alert button {
    width: 32px;
    height: 32px;
    position: relative;
    font-size: 1.3rem;
    background: rgb(0 0 0 / .1);
    border: 1px solid silver;
    border-radius: 4px;
    cursor: pointer;
}

.alert button:hover {
    background: rgb(0 0 0 / .2);
}

.alert button:active {
    background: rgb(0 0 0 / .3);
}

.alert button i {
    position: unset;
    margin: 0;
    color: black;
}
